.project_page {
  width: 100vw;
  height: 100vh;
  position: relative;

  .arrow {
    position: absolute;
    font-size: 3vw;
    transform: translate(0, -50%);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      left: 5%;
      top: 50%;
    }
    &:nth-child(3) {
      right: 5%;
      top: 50%;
    }
    &.hide {
      display: none;
    }
  }

  .dots {
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);

    .dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.5rem;
      margin: 0 0.1rem;

      svg {
        opacity: 0.3;
      }

      &.active {
        font-size: 0.9rem;

        svg {
          opacity: 1;
        }
      }
    }
  }
}

.page_scroll {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  transition: left 0.3s;

  .project_box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .project {
      border: 1px solid;
      width: 60%;
      height: 70%;
      font-family: "IBMPlexSansKR";
      display: flex;

      .img_block {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          position: absolute;
          bottom: 0;
          left: 2rem;
          font-size: 7vw;
          font-family: "Anton";
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .info_block {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-left: 2px dashed;

        .info_text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 9;

          >div {
            margin-top: 1rem;
            h1, h2, p {
              margin: 0;
            }
            p {
              opacity: 0.6;
            }
          }

          >p {
            padding: 0 2rem;
          }

          ul {
            padding: 0;
            list-style: none;

            li {
              width: 100%;
              font-size: 1.2rem;
            }
          }
        }

        .icon {
          flex: 1;
          width: 100%;
          height: 10%;
          background-color: rgba(255, 255, 255, 0.2);
          display: flex;
          justify-content: space-around;
          align-items: center;

          .button_comp {
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;

            svg {
              margin-right: 0.5rem;
              font-size: 1.5rem;
            }
          }

          &.light {
            background-color: rgba(15, 20, 25, 0.2);
          }
        }
      }
    }
  }
}
