html {
  font-size: 16px;
}

.App {
  text-align: center;
  background-color: rgba(15, 20, 25, 1);
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  transition: background-color 150ms, color 150ms;
  position: relative;
  max-width: 1900px;
  max-height: 1200px;

  &.light {
    background-color: white;
    color: rgba(15, 20, 25, 1);
  }

  .router {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
