html {
  font-size: 16px;
  background-color: rgba(15, 20, 25, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  transition: background-color 150ms, color 150ms;
  position: relative;
  max-width: 1900px;
  max-height: 1200px;

  &.light {
    background-color: white;
    color: rgba(15, 20, 25, 1);
  }

  .router {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 탭 크기
@media (min-width: 768px) and (max-width: 1024px) {
}

// 모바일 크기
@media (max-width: 768px) {
  .App {
    padding-bottom: 57px;
    box-sizing: border-box;

    &.main {
      padding: 0;
    }
  }
}